@charset "utf-8";
body, div {
    margin: 0;
}

.screenAll {
    display: flex;
}

.aside {
    width: 1000px;
}

#root {
    min-height: 100%;
    height: 100%;
    width: 750px;
    align-items: center;
    justify-content: center;
}

.footer-fixed {
    display: flex;
    position: fixed;
    z-index: 50;
    bottom: 0;
    flex-direction: row;
    border-top: 1px solid rgb(231, 231, 231);
    background-color: rgb(255, 255, 255);
    padding-bottom: 0;
    max-width: 750px;
    width: 100%;
    left: auto;
    right: auto;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 45px;
    padding-bottom: 6px;
}

.footer-item-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.iconWrapper {
    display: inline-block;
    position: relative;
    width: 30px;
    margin-top: 2px;
    justify-content: center;
    align-items: center;
}

.iconWrapper img {
    max-width: 100%;
    vertical-align: top;
}

/* .header { */
/*     margin-top: 10px; */
/*     border-bottom: 1px solid #dadada; */
/* } */

/* .header-inner { */
/*     display: flex; */
/*     justify-content: space-between; */
/* } */

/* .header-right-inner { */
/*     display: flex; */
/*     align-items: center; */
/*     justify-content: center; */
/* } */

/* .logo, .header-right-inner { */
/*     margin-left: 10px; */
/*     margin-right: 10px; */
/* } */

/* .logo { */
/*     font-size: 19pt; */
/*     font-weight: bold; */
/* } */

/* a { */
/*     text-decoration: none; */
/*     color: #f8585b; */
/* } */

/* .header-right-inner img { */
/*     width: 30px; */
/* } */

.inner-section {
    display: flex;
}

.slider_aside {
    width: 50px;
}

.slider_box {
    width: 720px;
    overflow: hidden;   /* 영역을 벗어나는 내용은 숨겨라 */
}
.slider_list {
    display: flex;
    width: 3600px;      /* 모든 아이템의 너비 */
}
.slider_content {
    width: 720px;
    height: 370px;
    text-align: center;
    user-select: none;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 53%;
    z-index: 100;
}
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}
.modal_content{
    background-color: white;
    width: 315px;
    height: 110px;
    border: 1px solid #dadada;
    padding: 10px 15px 15px 15px;
}
.hidden {
    display: none;
}
.search-name, .search-date {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.search-btn {
    color: #dcdcdc;
    background-color: #e6e6e6;
    border-style: none;
    cursor: pointer;
    width: 100%;
    font-size: 17pt;
    padding: 10px 22px;
    margin: 0;
    border-radius: 5px;
}
.search-btn:hover {
    color: #fff;
    background-color: #db074a;
}
.search-wrap .search-name {
    position: relative;
    border-radius: 5px;
    background-color: #f8f8f9;
    padding: 10px;
    justify-content: center;

}
.search-wrap .search-date {
    position: relative;
    border-radius: 5px;
    background-color: #f8f8f9;
    padding: 10px;
}
.search-wrap .icon {
    margin: 5px;
}
.search-wrap .icon img {
    width: 18px;
}
.search-input input {
    width: 95%;
    border-style: none;
    background-color: #f8f8f9;
}
.search-input input:focus {
    outline:none;
}

/*여기서부터 모달창(날짜)*/
.container .modal-body {
font-family: Lato;
font-weight: 200;
text-align: center;
}

.container > .btn {

padding: 20px 40px;
font-size: 30px;
border-radius: 40px;
}
.container > .clostbtn{

    padding: 20px 40px;
    font-size: 30px;
    border-radius: 40px;
}
.container .modal {
display: flex;
flex-flow: column;
background: #fff;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
top: 100%;
position: fixed;
left: 0;
text-align: left;
}
.container .modal > div {
    width: 1200px;
    margin: auto;
    margin-bottom:0 ;
    margin-top: 0;
    
}

.container .modal .top {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0px 24px 0;
    height: 124px;
    margin-top: 60px;

}
.container .modal .top  .tt {
    display: block;
    height: 29px;
    padding: 12px 0 2px;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #888;
}
.container .modal  .top .left  {
    height: 80px;
}
.container .modal  .top  .date {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
    color: #4d4d4d;

}
.container .modal  .top  .mid {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -20px;
}
.container .modal  .top  .mid img {
    display: block;
    margin-top: 28px;
}
.container .margin .top .tt.right {
    text-align: right;
}

.container .modal, .modal-body {
font: 300 16px Lato;
color: black;

}
.container .btn {
margin: 10px 0;
color: #fff;
position: relative;
transition: all .4s ease;
cursor: pointer;
}
.container .closebtn{
    background: linear-gradient(to right);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 25px;
    margin: 20px 0;
    color: black;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
}
.container .close-modal {
text-align: right;
}

.container.modal-open .modal {
top: 0;
}
